@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    height: 100%;
}

.content{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-color: #fefefe;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-inline: 40px;
}


header > h1 {
    font-family: "Inconsolata",  monospace;
    color: #333333;
    padding: 10px;
    letter-spacing: -1.92px;
    font-weight: 700;
    line-height: normal;
    text-align: start;
    font-size: 20px;
}

.items{
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;  
}

.items > h4 {
    max-width: 700px;
    font-size: 64px;
    color: #333333;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.items > h5 {
    font-weight: 400;
    font-size: 23px;
    color: #4F4F4F;
    padding: 10px;
    margin: 10px;
    text-align: left;
    line-height: 35.54px;
    letter-spacing:3.5%;
    max-width: 400px;
}

.items > button{
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20.73px;
    padding: 15px;
    padding-inline: 30px;
    border: 15px;
    margin: 15px;
    background-color: #333333;
    color: #FFFFFF;
    letter-spacing: -3.5%;
    border: 2px solid transparent;
}

.items > button:hover{
    border-color:#0000ff;
    cursor: pointer;
}

/* .img-section{
    grid-area: section;
} */

 .img {
    height: 447.43px;
    margin: 10px;
    /* padding: 10px; */
}


.footer{
    /* line-height: 300px; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer > p, a{
    font-family: 'Monserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #BDBDBD;
    height: 50px;
}

.footer a{
    font-weight: 700;
}

@media (max-width: 767px) {
    .content {
        flex-direction: column;
    }
    h4 {
        width: 100%;
        font-weight: 700;
        font-size: 39px !important;
        Line-height: 71.09px;
    } 
    
    h5{
        width: 100%; 
        font-size: 18px !important; 
        /* line-height: 26.66px;  */
    }

    .img{
        width: 100%;
        height: 255px;
        padding-top: 20px;
    }

    .footer {
        padding-top: 50px;
    }
}
